<f:layout name="Default" />
<f:section name="Main">
    <div class="text-center">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
    </div>
    <div class="row">
        <div class="col-6">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
        </div>
        <div class=" col-6">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
        </div>

    </div>
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '3'}" />
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '4'}" />
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '5'}" />
    This is backend layout template 101 !!!
</f:section>